[submodule "modules/JQF"]
	path = modules/JQF
	url = https://github.com/jyi/JQF.git
[submodule "modules/pyod"]
	path = modules/pyod
	url = https://github.com/yzhao062/pyod.git
[submodule "modules/junit-quickcheck"]
	path = modules/junit-quickcheck
	url = https://github.com/jyi/junit-quickcheck.git
[submodule "modules/org.aspectj"]
	path = modules/org.aspectj
	url = https://github.com/eclipse/org.aspectj.git
[submodule "modules/WALA"]
	path = modules/WALA
	url = https://github.com/somoa-at-unist/WALA.git
